

<div class="container" style="color:white" class="animate">
	<div class="row">
		<div class="col-md-4">
			<h3>{{show.name}}</h3>
			<p><span ng-repeat="shw in show.genres">{{shw}} |</span></p>
			<img ng-src="{{show.image.medium}}">
		</div>
		<div class="col-md-6">
			<h2>Summary</h2>
			<hr>
			<p ng-bind-html="show.summary|filterit"></p>
			<h2>Cast</h2>
			<hr>

			<div class="col-md-12" ng-repeat="cast in show._embedded.cast">
			<p><img ng-hide="cast.person.image.medium==null"  ng-src='{{cast.person.image.medium}}' height="100" width="60">
			<img ng-hide="cast.character.image.medium==null || cast.person.image.medium!=null"  ng-src='{{cast.character.image.medium}}' height="100" width="60">
			<img ng-show="cast.person.image.medium==null && cast.character.image.medium==null" ng-src="/images/default.jpg" height="100" width="60">
			{{cast.person.name}}...{{cast.character.name}}</p>
			</div>
			

			<!-- <p ng-repeat="cast in show._embedded.cast"><img ng-src='{{cast.person.image.medium}}' height="100" width="60"></p> -->
			

		</div>


		</div>
	</div>

</div>


<!-- <div ng-repeat="shw in show._embedded.cast"><img ng-src="{{shw.person.image.medium}}"></div> -->